<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>We need your location to check when you leave home</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We need your location to check when you leave home</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>We need your location to monitor when you leave home for stove safety</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>location</string>
	</array>
</dict>
</plist>
